# Byte-compiled / optimized / DLL files
*.py[cod]
*.so

# VS Code workspace settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Mac trash files
.DS_Store
.Trashes

# Logs and temp files
*.log
*.tmp
*.swp

# OS-specific
Thumbs.db
ehthumbs.db
